#root {
  min-width: 250px;
}

html,
body {
  display: flex;
  justify-content: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-group > input {
  width: 100%;
  padding: 4px 2px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  min-height: 32px;
  padding: 10px;
}

.form-group > input:focus {
  outline: none;
  border-color: rgb(38, 132, 255);
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  box-shadow: rgb(38, 132, 255) 0px 0px 0px 1px;
}

.icon {
  font-size: 110px;
  display: flex;
  justify-content: center;
  color: #4286f4;
  padding: 10px;
}

button {
  background-color: #4286f4;
  color: white;
  padding: 3px 0;
  border: none;
  width: 100%;
  min-height: 32px;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 10;
}
button:hover {
  opacity: 0.8;
}

.container {
  padding: 2px 0;
  text-align: left;
}
span.psw {
  float: right;
  padding-top: 0;
  padding-right: 15px;
}

a:hover {
  text-decoration: underline;
}
