#wikigame-wrapper input[type=text], #wikigame-wrapper input[type=number], #wikigame-wrapper select {
  width: 100%;
  box-sizing: border-box;
}

button#wikigame-banned-clear {
  width: 30%;
  background-color: #b32424;
}

#wikigame-wrapper label, #wikigame-wrapper .wikigame-article-picker .a {
  font-size: 0.75em;
}

/* override padding on toast content */
.Toastify__toast {
  padding: 10px;
}

/* resize panel */
#content, #left-navigation {
  margin-left: 13em;
}

#mw-panel {
  width: 12em;
}
