#wikigame-wrapper input[type=text],
#wikigame-wrapper input[type=number],
#wikigame-wrapper select {
  width: 100%;
  box-sizing: border-box;
}

#wikigame-wrapper label {
  font-size: 0.75em;
}

/* override padding on toast content */
.Toastify__toast {
  padding: 10px;
}
